*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

body{

    /* background-color: rgb(12, 8, 31); */
    background-image: url("../img/fondo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
img#logo{

    width: 150px;
    height: auto;

}

header#cabeceraPagina{

    display: none;
    background-color: rgb(17, 7, 59);  
    height: 125px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308)
}

img#piepagina{

    width: 680px;
    background-color: rgba(15, 4, 46, 0.295);
    border-radius: 30px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 200px;

}

div#divIntroduccion{

    margin: auto;
    width: 1200px;
    font-size: 25px;
    color: white;
    line-height: 50px;
    text-align: center;
    font-weight: bold;

}

button#consultarJuegos{

    width: 310px;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: rgb(43, 8, 131);
    transition: 1s;
    color: white;
    box-shadow: 5px 5px 5px rgba(29, 8, 78, 0.507);

}

button#consultarJuegos:hover{

    background-color: rgb(32, 18, 63);
    transition: 1s;
    color: white

}

p#fraseJugar{

    background-color: rgb(39, 14, 66);
    border-radius: 20px;
    width: 700px;
    height: 85px;
    margin-top: 150px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;

}

button#volver{

    display: none;
    transition: 1s;
    color: white;
    background-color: rgba(14, 9, 34, 0.938);
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30px;
    width: 130px;
    height: 60px;
    float: right;
    font-weight: bold;
}

button#volver:hover{

    transition: 1s;
    background-color: rgb(89, 56, 206);
    color: rgba(14, 9, 34, 0.938);
}

div#divJuegos{
    
    margin: auto;
    display: none;
}

input#buscadorJuegos{

    padding-left: 20px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    background-color: rgb(21, 20, 24);
    color: white;
}


button#anadirJuego{

    display: none;
    width: 80px;
    height: 60px;
    float: right;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    margin-top: 30px;
    margin-right: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s;
}

button#anadirJuego:hover{

    transition: 1s;
    background-color: green;
}


div.divPrueba{

    color: white;
    margin: auto;
    background-color: rgb(163, 163, 163);
    width: 450px;
    height: 362px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}


img.botones{

    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}

span.jugar{

    width: 100px;
    background-color: rgba(31, 30, 30, 0.658);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    
}


span.jugar:hover{

    width: 140px;
    transition: 1s;
    cursor: not-allowed;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.63);
}


div.divBotones{

    display: flex;
    margin-top: 25px;
    width: 100%;
    height: 50px;
    background-color: rgba(85, 82, 82, 0.452);
    
    
}

p.pNombre{

    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;

}

p.pFecha{
    font-size: 15px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


p.pRol{

    display: inline;
    float: right;
    font-style: italic;
    margin-right: 10px;
}

img.imagenJuego{

    width: 450px;
    height: 226px;
    
}


div#divFormulario{

    width: 1200px;
    margin: auto;
    display: none;

}


h2#tituloFormulario{

   font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

input#imagenJuego{
    
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

label#labelNombre, #labelPrecio, #labelFecha, #labelDescripcion, #labelRoles, #labelSelect{

    display: block;
    text-align: center;
    font-size: 34px;
    

}

input#inputNombre{
    display: block;
    margin: auto;
    width: 700px;
    height: 30px;
}

input#inputPrecio{

    display: block;
    margin: auto;
    width: 300px;
    height: 70px;
    font-size: 20px;
    text-align: center;
}

input#inputFecha{


    display: block;
    margin: auto;
    width: 200px;
    height: 30px;

}

textarea#areaDescripcion{

    display: block;
    margin: auto;
    width: 800px;
    height: 300px;
    font-size: 30px;

}

div#divCheck{


    margin: auto;
    width: 500px;
}

span.roles{

    margin-left: 185px;
    margin-right: 20px;
    font-size: 24px;

}

span#publicarSi, #publicarNo{

    margin-left: 530px;
    margin-right: 10px;

}

button#btnAnadir, #btnModificar{

    border-radius: 5px;
    border: none;
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 25px;

}

div#divPrincipal{


    display: none;

}

select#selectPublicar{

    display: block;
    margin: auto;

}


div#formulario{

    


}